@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  background-image: url('../media/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1, h3 {
  color: rgba(212,212,212,0.9);
  margin-left: 30px;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(82, 227, 101);
}

.button-error {
  background: rgb(210, 115, 78);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-secondary {
  background: rgba(108, 67, 223, 0.55);
}

.button-xsmall {
  font-size: 50%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 150%;
}

#board {
  padding: 10px;
}

#board table {
  margin: auto;
}

#board img {
  box-shadow: 5px -6px 5px rgba(91, 91, 91, 0.81);
  background-color: rgba(44, 44, 44, 0.81);
  margin: 5px;
}

.container {
  width: 96px;
  height: 96px;
  -webkit-perspective: 1000;
}

.flipper {
  -webkit-transform-style: preserve-3d; // also does this to this element's children
  -webkit-transition-duration: 0.5s;
  position: relative;
}

.flipper, .front, .back {
  width: 100%;
  height:100%;
//  color: white;
//  font-size: 50px;
}

.front, .back {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
}

.front {
//  background-color: red;
  z-index: 1;
}

.back {
//  background-color: blue;
  -webkit-transform: rotateY(180deg);
}

.rotate {
  -webkit-transform: rotateY(180deg);
}


#timer {
  color: rgba(212,212,212,0.9);
  font-size: 3em;
}

.timer-warning {
  color: red !important;
}
