doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Memory Game
    link(rel='stylesheet', href='./css/app.css')
  body
    #notice Memory Game
    .container
      .gameboard
        .dash
          button.button-reset Reset
          div.label Time Remaining:
            #timer.timer(data-time='99') 99

          table#board
            tbody
              - for(var i=0; i<4; i++)
                tr
                  - for(var j=0; j<5; j++)
                    td.card(data-idx=5*i+j)
                      .flipper
                        .front
                        .back

      .controller
        #gametitle Retro Memory
        .button-game
          button.button-game#start Press Start



    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
