doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Memory Game
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Memory Game

    .pure-g
      .pure-u-1-2#board
        table#grid
          tbody

      .pure-u-1-4#buttons
        button.pure-button.button-xlarge#start Start
      .pure-u-1-5#timer 60

    button#animate Animate
    .container
      .flipper
        .front A
        .back B

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
